{% extends 'adminbase.html' %}
{% block title %}Admininstrator{% endblock title %}
{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2 container">
  <a class="btn btn-outline-dark btn-sm mx-1 btn-lg" aria-current="page" href="/">Back</a>
</div>
  <div>
    <h1 class="text-center mt-5">
      Administrator Dashboard
    </h1>
      <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="mt5">
          <h1> </h1>
          <div class="mt-5">
            <h1> </h1>
            <div class="mt-5">
              <h1> </h1>
              <div class="mt-5">
                <h1> </h1>
                <div class="mt-5">
                  <a class="btn btn-outline-dark btn-sm mx-1 btn-lg" aria-current="page" href="/station_1">Station 1</a>
                  <a class="btn btn-outline-dark btn-sm mx-1 btn-lg" aria-current="page" href="/station_2">Station 2</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}